<section class="section about" id="about">
    <div class="container">

      <figure class="about-banner">

        <img src="./assets/images/profile.jpg" width="800" height="652" loading="lazy" alt="Ethan's Photo"
          class="img-cover">

        <img src="./assets/images/basketball.gif" width="800" height="717" loading="lazy" alt="Ethan's Photo"
          class="abs-img">

        <div class="abs-icon abs-icon-1">
          <ion-icon name="logo-react"></ion-icon>
        </div>

        <div class="abs-icon abs-icon-2">
          <ion-icon name="logo-javascript"></ion-icon>
        </div>

        <div class="abs-icon abs-icon-3">
          <ion-icon name="logo-stackoverflow"></ion-icon>
        </div>

      </figure>

      <div class="about-content">
        <div class=fakeMenu>
          <div class="fakeButtons fakeClose"></div>
          <div class="fakeButtons fakeMinimize"></div>
          <div class="fakeButtons fakeZoom"></div>
        </div>
        <div class="fakeScreen">
          <p class="line1 style-P">$ About Me { <br>
            I’m a student interested in AI/ML with experience applying Deep Learning and Machine Learning to projects in Computer Vision, image processing, NLP, and various AI Applications. I have expertise in developing software with React, Flutter, Python, and Node.js for web and mobile applications.
         <br>}
            
          <span class="cursor1 style-span">_</span></p>
          <p class="line2 style-P">
              Contact {
                <br><a href="tel:+66980180495" target="_blank" style="font-size: 14px;">Tel : +66 98 018 0495</span>
                <br><a href="mailto:makufff.tanapat@gmail.com" target="_blank" style="font-size: 14px;">Mail : makufff.tanapat@gmail.com</span>
                <br><a href="https://www.facebook.com/tanapat.chamted.7/" target="_blank" style="font-size: 14px;">Facebook : Tanapat Chamted</span>
                <br><a href="https://www.instagram.com/_.makufff.js/  " target="_blank" style="font-size: 14px;">Instagram : _.makufff.js</span>
                <br><a href="https://github.com/Makufff/" target="_blank" style="font-size: 14px;">Github : makufff</span>
                <br><a href="https://www.linkedin.com/in/tanapat-chamted-124686284/" target="_blank" style="font-size: 14px;">Linkedin : Tanapat Chamted</span>
                   </a><br> }
              <span class="cursor2 style-span">_</span></p>
         
          <a href="#Certificate"><p class="line3 style-P">[?] Please click me if you want to see more of my talent ? (Click Me to Certificate)<span class="cursor3">_</span></p></a>
          <p class="line4 style-P">><span class="cursor4 style-span">_</span></p>
        </div>
      </div>

    </div>
  </section>